
body {
	padding-top: 55px;
	overflow: visible;
	font-family: "Hiragino Kaku Gothic ProN","Meiryo";
}

h1,h2,h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.container {
	padding-top: 20px;
	padding-left: 50px;
}

*{
	box-sizing: border-box;
}
a { cursor: pointer; }
a, a:hover, a:active{
	text-decoration: none;
}
ul {
	padding-left: 0;
	list-style:none;
}

.emojione{
	margin: auto;
}

//ヘッダー
$dark-blue: #F3F3F3;
$blue:#FDFDFD;
.header{
	display: flex;
	z-index: 50;
	align-items: center;
	top:0;
	position: fixed;
	left: 40px;
	right: 0;
	height: 50px;
	background-color: $blue;
	border-bottom: 1px solid $dark-blue;
	.title {
		font-weight: 500;
		font-size: 24px;
		margin-left: 20px;
	}
	.func-area{
		margin-left: auto;
		margin-right: 0;
		display: flex;
		align-items: centrer;
		a {
			font-size: 32px;
			margin-right: 24px;
		}
	}
}



//画像系、webpackのraw-loaderだとURLエンコードしてくれないので
//styleで読むこむここにとりあえず書く
.arrow-bottom:after {	background: url("./img/arrow-bottom.png")}
//借金、貯金
.siroboshi{background: url("./img/siro.png")}
.kuroboshi{background: url("./img/kuro.png")}
//チームアイコン
.team-g {background: url("./img/giants.png")}
.team-t {background: url("./img/tigers.png")}
.team-d {background: url("./img/drangons.png")}
.team-db {background: url("./img/dena.png")}
.team-c {background: url("./img/carp.png")}
.team-s {background: url("./img/swalows.png")}

//チームアイコン
.team-h {background: url("./img/hokus.png")}
.team-m {background: url("./img/marins.png")}
.team-f {background: url("./img/fgiters.png")}
.team-l {background: url("./img/lions.png")}
.team-bs {background: url("./img/buffalos.png")}
.team-e {background: url("./img/eagles.png")}
.icon-m {
	content: "";
	width: 32px;
	min-width: 32px;
	height: 32px;
	min-height: 32px;
}

.icon-s {
	background-size: 16px 16px;
	content: "";
	width: 16px;
	min-width: 16px;
	height: 16px;
	min-height: 16px;
}
