
body {
	padding-top: 55px;
	overflow: visible;
	font-family: "Hiragino Kaku Gothic ProN","Meiryo";
}

h2 {
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container {
	//padding-top: 20px;
	padding-left: 40px;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}


