<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>welcome to underground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" th:href="|//${appConfig.hostName}:3001/init/style.css|" />
</head>
<body>
    <my-app class="loading">loading...</my-app>
    <script th:src="|//${appConfig.hostName}:3001/main.js|"></script>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59778844-4', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>