$dark-blue: #F3F3F3;
$blue:#FDFDFD;
$sidebar-width: 40px;
//サイドヘッダー
.side-header {
	width: $sidebar-width;
	padding-top: 50px;
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	background-color: $dark-blue;
	overflow: hidden;
	&, .genre-wrapeer{
		transition: width 0.3s linear;
	}

	.toggle-button{
		position: absolute;
		top: 8px;
		right: 4px;
	}

	.genre-wrapeer{
		text-decoration: none;
		margin-bottom: 4px;
		padding: 6px;
		padding-left: 8px;
		display: flex;
		align-items: center;
		.glyphicon{
			margin-right: 8px;
			font-size: 24px;
			color: darkslategray;
		}

		&:hover{
			background-color: darkslategray;
			&, .glyphicon{
				color: white;
			}
		}
	}
	&:not(.active) .genre-text {
			display: none;
	}
	&.active {
		.genre-wrapeer{		width: 200px;}
		width: 200px;
	}
}

//トグルボタン
.toggle-button {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	&.active, &:hover { background-color: #E0E0E0 }
	span{
		position: absolute;
		display: block;
		top: 2px;
		width: 2px;
		height: 16px;
		background-color: rgba(0,0,0,0.7);
		transition: all 250ms ease-in-out;
		&:not(.active) {
			left: 50%;
			&:nth-child(1){transform: rotate(-45deg);}
			&:nth-child(2){transform:translateY(calc(50% + 2px)) rotate(45deg);}
		}
		&.active {
			left: calc(50% - 2px);
			&:nth-child(1){transform: rotate(45deg);}
			&:nth-child(2){transform: translateY(calc(50% + 2px)) rotate(-45deg);}
		}
	}
}