<div class="side-header" [class.active]="isSideMenuActive">
	<div class="toggle-button side" [class.active]="isSideMenuActive">
		<span></span>
		<span></span>
	</div>
	<a [routerLink]="['/']" class="genre-wrapeer tooltip tooltip-side" data-tooltip="トップ">
		<i class="material-icons">home</i>
		<span class="genre-text">トップ</span>
	</a>
	<a class="genre-wrapeer tooltip tooltip-side"
		[class.active]="isOpenedWorkSpace"
		data-tooltip="最近開いたスレ"
		(click)="openWorkSpace.emit(null)"
	>
		<i class="material-icons">history</i>
		<span class="genre-text">最近開いたスレ</span>
	</a>
	<a [routerLink]="['/boardlist']" class="genre-wrapeer tooltip tooltip-side" data-tooltip="板一覧">
		<i class="material-icons">assignment</i>
		<span class="genre-text">板一覧</span>
	</a>

	<a [routerLink]="['/yakiu']" class="genre-wrapeer tooltip tooltip-side" data-tooltip="プロ野球情報">
		<i class="material-icons">show_chart</i>
		<span class="genre-text">プロ野球情報</span>
	</a>
	<a [routerLink]="['/debug']" class="genre-wrapeer tooltip tooltip-side" data-tooltip="サーバー情報">
		<i class="material-icons">info_outline</i>
		<span class="genre-text">サーバー情報</span>
	</a>
</div>