<div class="header">
	<div class="menubar"  >
		<!-- タイトル -->
		<div class = "title"></div>
		<!-- トグルボタン -->
		<div [class.active]="isMenuActive" 
		class="open-menu-button select-leagu icon-s-after arrow-bottom" 
		(click)="toggleMenu()" >{{leagueInfo.title}}</div>
	</div>
	<!-- コンテンツ -->
	<div class = "contents"
	[class.active]="isMenuActive" >
		<a [class.active]="isActive('ce')" [routerLink]="['/Home',{league: 'ce'}]">セリーグ</a>
		<a [class.active]="isActive('pa')" [routerLink]="['/Home',{league: 'pa'}]">パリーグ</a>
	</div>
</div>