@import "../_common.scss";

$dark-blue: #F3F3F3;
$deep-dark: #ddd;
$blue:#FDFDFD;
$sidebar-width: 40px;
//サイドヘッダー
.side-header {
	z-index: 51;	
	width: $sidebar-width;
	padding-top: 50px;
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: $dark-blue;
	overflow: hidden;
	&, .genre-wrapeer{
		transition: width 0.2s linear;
	}

	.toggle-button{
		position: absolute;
		top: 8px;
		right: 4px;
	}

	.genre-wrapeer{
		text-decoration: none;
		padding: 6px;
		padding-left: 8px;
		display: flex;
		align-items: center;
		.material-icons{
			margin-right: 8px;
			font-size: 24px;
			color:rgba(51, 51, 51, 0.85);
		}

		&:hover, &.router-link-active {
			&, .material-icons {
				color:#333;
			}
			background-color: $deep-dark;
		}
		position: relative;
		&.router-link-active:after {
			content: "";
			height: 100%;
			width: 4px;
			background-color: $green;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&:not(.active) .genre-text {
			display: none;
	}
	&.active, &.active .genre-wrapeer {
		width: 200px;
	}
}

//トグルボタン
.toggle-button {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	&.active, &:hover { background-color: #E0E0E0 }
	&:not(.active) span {
			left: 50%;
			&:nth-child(1){transform: rotate(-45deg);}
			&:nth-child(2){transform:translateY(calc(50% + 2px)) rotate(45deg);}
	}
	&.active span {
			left: calc(50% - 2px);
			&:nth-child(1){transform: rotate(45deg);}
			&:nth-child(2){transform: translateY(calc(50% + 2px)) rotate(-45deg);}
	}
	span{
		position: absolute;
		display: block;
		top: 2px;
		width: 2px;
		height: 16px;
		background-color: rgba(0,0,0,0.7);
		transition: all 250ms ease-in-out;
	}
}