@import "../_common.scss";
.suretai {
	margin-bottom: 5px;
}
.res-wrapper {
	padding: 10px 0px;
	border-bottom: 1px solid $white-gray;
	&:first-of-type {
		border-top: 1px solid $white-gray;
	}
}
.res-header {
	color: rgb(120,140,155);
	font-size: 12px;
}
.res-body{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.res-id{}
.red { color: $red }
.blue{ color: $blue }
.normal { color: $normal }
.res-hide {
	display: none;
}
.filter-button-area {
	margin-bottom: 4px;
	button { margin-right: 8px;}
}

//サムネイル
.thumbs-wrapper {
	margin-top: 12px;
	display: flex;
	.thumb-box {
		position: relative;
		border: 1px solid #D4CFCF;
		margin-right: 10px;
		&:not(.opened) {
			width: 30px;
			height: 30px;
		}
		&.opened {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: black;
			min-width: 100px;
			min-height: 100px;
		}
		img {
			max-width: 100px;
			max-height: 100px;
		}
		&:hover {
			.thumb-tooltip {
				display: block;
				animation: show 200ms linear;
			};
		} 
		.thumb-tooltip{
			border: 1px solid $white-gray;
			padding: 4px;
			max-width: 300px;
			font-size: 12px;
			position: absolute;
			display: none;
			background-color: rgba(255, 255, 255, 0.8);
			left:0;
			top:0;
			z-index: 30;
			.thumb-title{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}

}
//ポップアップなレス
.popup-wrapper {
	z-index: 2; //TODO z-indexは一箇所で管理する
    top: 60px;
	max-height: calc(100% - 150px);
	overflow-y: auto;
    position: fixed;
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
}
.res-popup {
	border: 1px solid #c7c7c7;
    background-color: white;
	padding: 10px;
	&:not(:first-of-type) {
		margin-top: -1px;
	}
	&:first-of-type {
		border-top: none;
	}
	&:last-of-type {
		border-bottom: none;
	}
}

@keyframes show{
	from{opacity: 0;}
	to{opacity: 1;}
}