<div class="header">
	<div class="title">スレ</div>
	<div class="func-area" *ngIf="board">
		<button [routerLink]="['/Board', {id: board.id}]" class="cercle-button">
			<i class="material-icons md-36">keyboard_backspace</i>
		</button>
		<button (click)="getSabun()" class="cercle-button">
			<i class="material-icons md-36">cached</i>
		</button>
	</div>
</div>

<div *ngIf="board">
	<h3 [innerHTML]="dat.title + '(' + dat.resList.length + ')'"></h3>
	<div class="filter-button-area">
		<button *ngFor="let myFilter of filters"
		 class="btn btn-default" [class.active]="myFilter.enable"
			(click)="toggleFilter(myFilter)">{{myFilter.label}}{{myFilter.state}}</button>
	</div>
	<div id="test">
	<div *ngFor="let res of dat.resList | resFilter:nowFilterType"
	 class="res-wrapper">
		<div class="res-header">
			<a class="res-no {{res.noColor}}"
				(click)="showResByIndexes(res.fromAnkers)">
				{{res.index + 1}}{{res.ankerCount}}
			</a>
			<span class="res-name">名前: {{board.defaultName}}</span>
			<span class="res-postdate">{{res.postDate}}</span>
			<a class="res-id {{res.idColor}}"
				(click)="showResById(res.id)">
					ID:{{res.id}} {{res.idCount}}
				</a>
		</div>
		<div class="res-body"
			[innerHTML]="res.honbun"
			(click)="showAnkerTo($event, res.index)">
		</div>
		<div class="thumbs-wrapper" *ngFor="let thumb of res.thumbs">
				<a *ngFor="let thumb of res.thumbs" class="thumb-box" href="http://{{thumb.id}}" target="_blank">
					<img src="{{thumb.imgUrl}}" />
					<ul class="thumb-tooltip">
						<li class="thumb-title">{{thumb.title}}</li>
						<li class="thumb-price">￥ {{thumb.price | numberFormat:'0,0'}}</li>
					</ul>
				</a>
		</div>
	</div>
	</div>
</div>