<div class="header">
	<div class="title">スレ</div>
	<div class="func-area" *ngIf="board">
		<a [routerLink]="['/Board', {id: board.id}]" class="glyphicon glyphicon-arrow-left"></a>
		<a (click)="getSabun()" class="glyphicon glyphicon-refresh"></a>
	</div>
</div>

<div *ngIf="board">
	<h3 [innerHTML]="dat.title + '(' + dat.resList.length + ')' | toEmoji"></h3>
	<div class="filter-button-area">
		<button *ngFor="let myFilter of filters"
		 class="btn btn-default" [class.btn-primary]="myFilter.enable"
			(click)="toggleFilter(myFilter)">{{myFilter.label}}</button>
	</div>
	<div *ngFor="let res of dat.resList | resFilter:filterType" class="res-wrapper">
		<div class="res-header">
			<a class="res-no {{getResColor(res.fromAnkers)}}"
				(click)="showResByIndexes(res.fromAnkers)">{{res.index + 1}}{{getResNoState(res.fromAnkers)}}</a>
			<span class="res-name">名前: {{board.defaultName}}</span>
			<span class="res-postdate">{{res.postDate}}</span>
			<a class="res-id {{getIdColor(res.id)}}"
				(click)="showResById(res.id)">
					ID: {{res.id}} {{getIdstate(res.id, res.index)}}
				</a>
		</div>
		<div class="res-body" [innerHTML]="res.honbun"
		 (click)="showAnkerTo($event, res.index)">
		</div>
		<div class="thumbs-wrapper" *ngFor="let thumb of res.thumbs">
				<a *ngFor="let thumb of res.thumbs" class="thumb-box" href="http://{{thumb.id}}" target="_blank">
					<img src="{{thumb.imgUrl}}" />
					<ul class="thumb-tooltip">
						<li class="thumb-title">{{thumb.title}}</li>
						<li class="thumb-price">￥ {{thumb.price | numberFormat:'0,0'}}</li>
					</ul>
				</a>
		</div>
	</div>
</div>