<div class="header">
	<div class="title"
	 [innerHTML]="headerTitle ? headerTitle : '読み込み中...' | safe"
	></div>
	<div class="func-area" *ngIf="board">
		<button class="cercle-button tooltip" data-tooltip="一番下へ移動"
		(click)="scroll('bottom')">
			<i class="material-icons md-36">arrow_downward</i>
		</button>
		<button class="cercle-button tooltip" data-tooltip="一番上へ移動"
		(click)="scroll('top')">
			<i class="material-icons md-36">arrow_upward</i>
		</button>
		<button [routerLink]="['/sureran', board.id]" class="cercle-button tooltip" data-tooltip="スレ一覧へ戻る">
			<i class="material-icons md-36">undo</i>
		</button>
		<button (click)="getSabun()" class="cercle-button tooltip" data-tooltip="更新">
			<i class="material-icons md-36">refresh</i>
		</button>
	</div>
</div>

<div *ngIf="board" class="sure-area">
	<div class="suretai" [innerHTML]="headerTitle | safe">
	</div>
	<div class="filter-button-area">
		<button *ngFor="let myFilter of filters"
		 class="btn btn-default tooltip"
		 [class.active]="myFilter.enable"
		 (click)="toggleFilter(myFilter)"
		 [attr.data-tooltip]="myFilter.tooltip"
		>
		 	{{myFilter.label}}{{myFilter.state}}
		</button>
	</div>
	<!-- レスリスト -->
	<div *ngFor="let res of dat.resList | resFilter:nowFilterType"
	class="res-wrapper"
	[res]="res" 
	[humanIds]="humanIds"
	(popup)="onPopup($event)"
	>
	</div>

	<!-- ポップアップレス -->
	<div *ngFor="let popupReses of popupReseses; let i=index"
		class="popup-wrapper"
		[style.top]="60 + i*10 + 'px'"
	>
		<div *ngFor="let popupRes of popupReses"
			class="res-popup res-wrapper"
			[style.margin-left]="popupRes.nest*10 + 'px'"
			[res]="popupRes.res"
			[humanIds]="humanIds"
			(popup)="onPopup($event)"
		>
		</div>
	</div>
</div>
